<div class="announcement">
  <li><span class="title">Sales:</span> {{announcement.sales}}</li>
  <li><span class="title">Weather:</span> {{announcement.weather}}</li>
  <li><span class="title">News:</span> {{announcement.news}}</li>
</div>
