*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  color: blue;
}
.overLord {
  @include outer-container;
}
img {
  height: 20vh;
}
