<h1>its getten hot n her!</h1><br>
<h2>it is</h2><br>
<h3>so hot</h3><br>
<h4>im gonna</h4><br>
<h5>practice enunciating so that I can get a better job.</h5>

<ul>
  {{#each model as |announcement|}}
    {{announcement-tile announcement=announcement }}
  {{/each}}
</ul>

{{new-announcement save5="save6"}}
