<h1>its getten hot n her<span class="spin">!</span></h1><br>
<h2>it is</h2><br>
<h3>so hot</h3><br>
<h4>im gonna</h4><br>
<h5>practice enunciating so that I can get a better job.</h5>

<h1>But seriously, here are some annoucements and things</h1>
<ul>
  {{#each model as |announcement|}}
    {{announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}
</ul>

{{new-announcement save5="save6"}}
